body{  
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

#root { 
  width: 100vw;
  height: 100vh;
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  background-color: blueviolet;
  width: 100vw;
}

nav{ 
  display: flex;
  font-size: 2rem; 
  background-color: #2196f3;
}

.menu {
  color: white;
  padding: 0 1rem 0 1rem;
}

.menu:hover {
  cursor: pointer;
  color: rgb(82, 102, 216);
  background-color: #59a8e9;
}

.itemsMenu{  
  display: flex; 
  flex-direction: column;
  align-items: start;  
  padding: 1rem;
  position: absolute;
  background-color: #2196f3;
}

.itemsMenu.none {
  display: none;
}

.itemsMenu div{
  margin: 1rem 0;
}

a{
  text-decoration: none;
  color: white;
}

.currentPlayers {
  padding-left: 25rem; 
  font-size: 3rem;
  font-weight: bold;
}
