@tailwind base;
@tailwind components;
@tailwind utilities;

body{  
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

#root { 
  width: 100vw;
  height: 100vh;
  margin: 0; 
  padding: 0;
  box-sizing: border-box; 
}

/* nav{  
  display: flex;
  justify-content: space-between;
  font-size: 2rem; 
  padding: 0 1rem 0 1rem;
  background-color: #2196f3;
} */

/* .menu { 
  color: white; 
} */

/* .menu:hover {
  cursor: pointer;
  color: rgb(82, 102, 216);
  background-color: #59a8e9;
} */

/* .itemsMenu{  
  display: flex; 
  flex-direction: column;
  align-items: flex-start;  
  padding: 1rem;
  position: absolute;
  background-color: #2196f3;
  z-index: 4;
} */

/* .itemsMenu.none {
  display: none;
}

.itemsMenu div{
  margin: 1rem 0;
}

a{
  text-decoration: none;
  color: white;
} */
/* 
.currentPlayers {
  font-size: 3rem;
  font-weight: bold;
} */

/* INFO USER */
/* .infoUser {
  display: flex;
  align-items: center;
  color: white; 
  font-size: 1rem;
}

.avatarUser { 
  width: 2rem;
  height: 2rem;
  background-color: blueviolet;
  border-radius: 50%;
  margin-left: .5rem;
}

.avatarUser img {
  width: 100%;
  border-radius: 50%;
} */
